<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">
		<property name="beginningDelimiter" value="`" />
		<property name="endingDelimiter" value="`" />

		<property name="javaFileEncoding" value="UTF-8"/>
		
		<plugin type="tk.mybatis.mapper.generator.MapperPlugin">
			<property name="mappers" value="com.conton.base.mapper.BaseMapper" />
		</plugin>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://23.244.68.15:3306/impress"
			userId="lareina" password="123456" />

		<javaModelGenerator targetPackage="com.conton.impress.model" targetProject="${basedir.src.main.java}" >
		    <property name="rootClass" value="com.conton.base.model.BaseModel"/>
		    <property name="trimStrings" value="true"/>
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="mapper" targetProject="${basedir.src.main.resources}" />

		<javaClientGenerator targetPackage="com.conton.impress.mapper" targetProject="${basedir.src.main.java}" type="XMLMAPPER" />

<!--		<table tableName="diary">
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
		<table tableName="diary_comment">
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
		<table tableName="diary_content">
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
		<table tableName="diary_record">
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
		<table tableName="member">
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
		<table tableName="member_friend">
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
		<table tableName="message">
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>-->
		<table tableName="diary_comment">
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
	</context>
</generatorConfiguration>
